<header class="container">
    <nav>
      <h1 class='mx-auto'>Quiz Start</h1>

    </nav>
  </header>

  <div class="container">
    <form class='form' action='/links/edit/{{user.id}}' method="POST">
      <div class="form-header">
        <h3>Register</h3>
      </div>

      <label>Nombre</label>
      <input id="inputNombre" value='{{user.firstName}}' type="text" name='firstName'>

      <label>Apellido</label>
      <input id="inputApellido" value='{{user.lastName}}' type="text" name='lastName'>

      <label>Tipo de premio</label>
      <select id="selectorPremio" value='{{user.typeOfAward}}' type="selection" name= 'typeOfAward' onchange="showSelected()" >
					<option selected="selected" disabled="disabled" value="elija su opción">Elija su opcion</option>
					<option id="dinero" value="dinero">Dinero</option>
  				<option id="puntos" value="puntos">Puntos</option>
			</select>


      <button type="submit">Ingresar al juego</button>
    </form>

    <div class="ingresarA">
      
    </div>
  </div>